
 /*header*/
/*#winestory{width:1920px; height:1000px; background-color:#fff;
		   padding-top:40px; display: inline-block; }*/
#winestory ul {box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);}
#winestory .header {
 	font-family: Didot; 
 	font-weight: bold; 
 	font-size: 20px; 
 	display: inline-block;
 	color:black;
 	margin:35px 655px 40px 360px;
 }
#winestory .navbar { 
 	list-style: none; 
 	display: inline-block;
    height: 45px;
    font-size:15px;
    font-family: noto sans cjk kr;
    font-weight: 300;
    color: black; 
    margin-left:30px;
}

#winestory .navbar a{
	text-decoration: none;
	color:black;
}
#winestory .navbar :hover{color: #b13333;}

/*와인월드*/
.world_main{background-image: url(../images/world_main.png); width:1920px; height:290px;}
.world_main h1{font-family:Noto Sans CJK KR; font-size: 35px; font-weight: 500;color:white; text-align: center; padding-top:70px;}
.world_main p{font-family:Noto Sans CJK KR; font-size: 18px; font-weight: 300; color:white; text-align: center; padding-top: 10px; line-height: 30px;}

/*표*/
.table {margin:60px 0 0 572px; }
.table .color_Red{display:inline-block; background:#a00029; width: 192px; height: 60px;
		font-family:Noto Sans CJK KR; font-size: 20px; font-weight: bold; text-align: center; color:#fff;
		border:1px solid #000000; line-height: 20px; letter-spacing: none;}
.table p{display:inline-block; background:#fff; width: 192px; height: 60px;
		font-family:Noto Sans CJK KR; font-size: 20px; font-weight: bold; text-align: center; color:black;
		border:1px solid #000000; line-height: 20px; letter-spacing: none;}
.line h1{width: 572px; height: 1px; background: #000000; position: absolute; top:480px;}
.line h2{width: 572px; height: 1px; background: #000000; position: absolute; top:480px; left:1348px; }

/*와인나열*/
.wine{margin: 60px 0 0 350px;}
.wine li{margin:10px 10px 10px 10px;}
.wine .wine1{display:inline-block; background-image: url(../images/world_wine1.png); width:282px; height: 470px; border-radius: 5px;}
.wine img{padding:325px 0 0 20px;}
.wine .mainname{display:inline-block; font-family:Noto Sans CJK KR; font-size: 18px; font-weight: bold; color:black; padding:15px 0 0 20px;}
.wine .koreaname{display:inline-block; font-family:Noto Sans CJK KR; font-size: 15px; font-weight: 300; color:black; padding:7px 0 0 20px;}
.wine .box{width:18px; height: 1px; background-color: black; margin: 7px 0 0 20px;}
.wine .explanname{display:inline-block; font-family:Noto Sans CJK KR; font-size: 15px; font-weight: bold; color:#a00029; padding:7px 0 0 20px;}

.wine .wine2{display:inline-block; background-image: url(../images/world_wine2.png); width:282px; height: 470px; border-radius: 5px;}
.wine .wine3{display:inline-block; background-image: url(../images/world_wine3.png); width:282px; height: 470px; border-radius: 5px;}
.wine .wine4{display:inline-block; background-image: url(../images/world_wine4.png); width:282px; height: 470px; border-radius: 5px;}
.wine .wine5{display:inline-block; background-image: url(../images/world_wine5.png); width:282px; height: 470px; border-radius: 5px;}
.wine .wine6{display:inline-block; background-image: url(../images/world_wine6.png); width:282px; height: 470px; border-radius: 5px;}
.wine .wine7{display:inline-block; background-image: url(../images/world_wine7.png); width:282px; height: 470px; border-radius: 5px;}
.wine .wine8{display:inline-block; background-image: url(../images/world_wine8.png); width:282px; height: 470px; border-radius: 5px;}

/*순서*/
.number p{font-size:19px; font-family: :Noto Sans CJK KR; font-weight: 400; color:#000000; letter-spacing: 20px;
		  margin:40px 0 0 40px; text-align:center;}

#footer{width: 1920px; height: 120px; background: #1e1e1e; }
#footer .footer_wine{
	font-family: Didot; font-size: 15px; color:#Fff;
	padding-top: 30px;
	margin: 40px 0 0 370px;
}
#footer .footer_sub{
	font-family: Noto Sans CJK KR; font-size:11px; font-weight: 200; color:#fff;
	margin: 13px 0 0 370px; line-height: 21px; letter-spacing: 1px;
}